*{
    box-sizing: border-box;
}
:root{
    font-size: 0.6rem;
    
}

body{
    font-family: 'Climate Crisis', sans-serif;
font-family: 'Grape Nuts', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Ruwudu', serif;
    background-image: url(smile.jpg);
    background-repeat: no-repeat;
    background-size: 40% 700px;
   margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(53, 93, 153);
    
}
header{
    font-size: 3.3rem;
    margin-left: 23.5%;
    margin-top: 10%;
    
}
#background{
    background-color: aqua;
}


button{
    background-color:rgb(101, 11, 124);
    color: aliceblue;
    border-radius: 8px;
    padding: 10px;
}
.log{
    color: rgb(56, 16, 16);
    font-size: 1.4rem;
    
}
input{
    border-color:aquamarine ;
    cursor: pointer;
}

input:invalid{
border-color: red;
}
.side{
   margin-left: 20%;
   position: absolute;
   margin-top: 14.1%;
   line-height: 20px;
   top: 12%;
}
.left{
    line-height: 20px;
 margin-top:70%;
 margin-right: 0%;
}
body .other{
margin-right: 4%;
}
footer{
    position: sticky;
  margin-right: 5%;
  margin-top: 115px;
}